<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mybaits.mapper.MemberMapper">

	<resultMap type="member" id="MemberMap">
		<result column="id" property="id" />	
		<result column="name" property="name" />	
		<result column="pw" property="pw" />	
		<result column="tel" property="tel" />	
	</resultMap>


	<!-- 회원 삽입 -->
	<insert id="insertMember" parameterType="member">
		INSERT INTO member(id,name,pw,tel)
		values(#{id},#{name},#{pw},#{tel})
	</insert>
	
	<!-- 로그인 확인 -->
	<select id="loginMember" resultMap="MemberMap" parameterType="member">
		SELECT * FROM member where id=#{id} and pw=#{pw}
	</select>
</mapper>