div{
font-family: 'Hanna', serif;
}
li { list-style: none; }
a { text-decoration: none; }
body { min-width: 760px; }

#wrap { overflow: hidden;}
#wrap > #main_lnb {
	margin-top: 50px; 
    float: left;
    width: 200px;
}

#main_lnb > ul > li > a {
    display: block;
    font-size: 18px;
    height:60px; 
    line-height: 40px;
    padding-left: 15px;
    border-bottom: 3px solid #483D8B;
    color: 	#696969;
}